<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dashboard.dao.GetDataDao">
    <!-- <resultMap id="BaseResultMap" type="com.dashboard.domain.City">
        <result column="id" property="id" />
        <result column="province_id" property="provinceId" />
        <result column="city_name" property="cityName" />
        <result column="description" property="description" />
    </resultMap> 

    <parameterMap id="City" type="com.dashboard.domain.City"/>-->

    

    <select id="test" resultType="java.util.HashMap" >
	SELECT
	DATE_FORMAT(a.f_crt_time,'%Y-%m-%d') AS tjtime
	,SUM(IF(a.f_page_type = 1,1,0)) AS grpv
	,COUNT(DISTINCT IF(a.f_page_type = 1,a.f_user,NULL)) AS gruv
	,SUM(IF(a.f_page_type IN(2,5),1,0)) AS bbxxpv
	,COUNT(DISTINCT IF(a.f_page_type IN(2,5),a.f_user,NULL)) AS bbxxuv
	,SUM(IF(a.f_page_type IN(3,6),1,0)) AS lrsjpv
	,COUNT(DISTINCT IF(a.f_page_type IN(3,6),a.f_user,NULL)) AS lrsjuv
	,SUM(IF(a.f_page_type = 4,1,0)) AS szqxpv
	,COUNT(DISTINCT IF(a.f_page_type = 4,a.f_user,NULL)) AS szqxuv
	FROM t_views_growth_pvuv a
	GROUP BY DATE_FORMAT(a.f_crt_time,'%Y-%m-%d') 
    </select>

</mapper>